$color-white: #ffffff;
$color-text: #2f281e;
$color-text-light: #544837;
$color-primary: #ff9900;
$color-border: #bcd0e5;
$color-gradient: linear-gradient(
  179.61deg,
  rgba(255, 229, 210, 0.629261) 0.33%,
  rgba(255, 244, 229, 0.0001) 99.67%
);
